

body {
  background: var(--bear-belly, rgb(100,200,100));
}

.bear {
  --bear-skin: brown;
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
}



.bear-head {
  top: 10%;
  left: 25%;
  background: var(--bear-skin,blue);
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}
.ear-left {
  top: -6%;
  left: -6%;
  background: var(--bear-skin,blue);
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
.inner-ear-left {
  top: 5%;
  left: 0%;
  background: black;
  width: 20%;
  height: 15%;
  border-radius: 70% 70% 0% 0%;
  transform: rotate(-45deg);

}
.ear-right {
  top: -5%;
  left: 65%;
  background: var(--bear-skin,blue);
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
.inner-ear-right {
  top: 5%;
  left: 80%;
  background: black;
  width: 20%;
  height: 15%;
  border-radius: 70% 70% 0% 0%;
  transform: rotate(45deg);

}



.right-eye {
  top: 35%;
  left: 55%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.right-eyelid {
  top: 35%;
  left: 55%;
  background: var(--bear-skin,blue);
  width: 15%;
  height: 17%;
  border-radius: 50%;
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.left-eye {
  top: 35%;
  left: 30%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.left-eyelid {
  top: 35%;
  left: 30%;
  background: var(--bear-skin,blue);
  width: 15%;
  height: 17%;
  border-radius: 50%;
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.sparkle {
  top: 25%;
  left: 15%;
  background: white;
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.nose {
  top: 48%;
  left: 28%;
  background: rgb(175, 49, 17);
  width: 45%;
  height: 45%;
  border-radius: 50%;
}
.tip {
  top: 35%;
  left: 40%;
  background: black;
  width: 25%;
  height: 20%;
  border-radius: 50%;
}


.bear * {
  position: absolute;
}

@keyframes blink {
    15% {
     top:5%;
    }
    100% {
     top:2%;
    }

}